

body {
      font-family: 'Open Sans', sans-serif;
    }
  button {
    background-color: #000;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }
   
   a:link {
     color:#69696a;
     text-decoration: none;
   }
   a:visited {
       color:#69696a;
     text-decoration: none;
   }
   
   nav {
     color:  #69696a;
   }
    ul {
      list-style-type: none;
    
   }
   blockquote
   {
     border-left: 3px solid #69696a;
     margin: 10px;
     padding: 10px;
     
   }

  
  
    
 @media only screen and (min-width:768px) {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    
     
  }
     .top-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: nowrap;
 }


 .nav {
  display: flex;
  color:  #69696a;
  flex-direction: row;
  justify-content: right;
 }
blockquote {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 50%;
}
.large {
    background-color: rgba(247, 136, 167, 0.6);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
   
    

 
}
  .medium {
    background-color: rgba(247, 193, 162, 0.7);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
   
    right: -75pt;
    top: 67pt;

}
.small {
    background-color: rgba(207, 130, 213, 0.6);
    width: 100px;
     height: 100px;
     border-radius: 50%;
     z-index: 3;
     position: relative;
     right: -100pt;
    top: -90pt;


 }
    .hire {
        margin: 0%;
        padding: 0%;
       
    }
    .container{
        display: flex;
        ;
        
        
    }
    .design {
        display: inline-block;
        width: 49%;
        
        margin: 0%;
        padding: 0%;
    }
 }